# 编辑器统一配置（安装 EditorConfig 插件后自动生效）
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.{js,html,css}]
indent_style = space
indent_size = 2

[*.{md,yaml,yml,json}]
indent_style = space
indent_size = 2

[*.ps1]
indent_style = space
indent_size = 4
